/* Animations */
@keyframes fadeIn {
	00% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
}
@keyframes fadeUp {
	00% {
		opacity: 0;
		transform: translateY(10%);
	}
	80% {
		transform: translateY(0);
	}
	99% {
		opacity: 1;
	}
}

:root {
	/* Colors */
	--black: 0,0,0;
	--blue: 80,197,211;
	--pink: 255,0,161;
	--purple: 181,83,182;
	--purple: 103,38,173;
	--red: 246,16,103;
	--green: 21,176,151;
	--yellow: 251,237,177;
	--white: 255,255,255;

	/* Dynamic colors */
	--text-color: var(--black);
	--text-background: var(--white);

	--link-color: var(--white);
	--link-background: var(--pink);

	--attention-color: var(--white);
	--attention-background: var(--pink);

	/* Sizing */
	--page-margin: 1rem;

	/* Fonts */
	--display: 'pirata one';
	--text: 'noto serif jp';
}

/* Default stylings */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}
body {
	font-size: 16px;
	overflow-x: hidden;
}

/* Links */
a {
	color: rgb(var(--link-color));
	text-decoration: none;
}
a:hover {
	color: rgb(var(--link-background));
}
.a--circled {
	border: 1px solid rgb(var(--link-color));
	border-radius: 50%;
	display: block;
	height: 6rem;
	line-height: 6rem;
	text-align: center;
	width: 6rem;
}
@media(min-width: 800px) {
	.a--circled {
		height: 8rem;
		line-height: 8rem;
		width: 8rem;
	}
}
.a--filled, .fp-controlArrow {
	background-image: linear-gradient(to top right, rgb(var(--link-color)) 50%, rgba(var(--bottom-color), 0.5) 51%);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 200% 200%;
	transition: background-position 0.2s ease-out, color 0.1s linear;
}
.a--filled:hover, .fp-controlArrow:hover {
	background-position: left -1px bottom -1px;
}
.a--alt-filled, .fp-controlArrow {
	background-image: linear-gradient(to top right, rgb(var(--link-background)) 50%, transparent 51%);
}
.a--attention {
	color: rgb(var(--attention-color));
}
.a--attention:hover {
	color: rgb(var(--attention-background));
}

/* Text */
.text--primary {
	font-family: var(--text);
	font-size: 0.7em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.text--vertical {
	text-align: center;
	text-orientation: upright;
	writing-mode: vertical-rl;
}
.text--spaced {
	letter-spacing: 2px;
}
@media(min-width: 800px) {
	.text--spaced {
		letter-spacing: 1em;
	}
}
.text--secondary {
	font-family: monospace;
	letter-spacing: 1px;
}
l {
	letter-spacing: initial;
}
p + p {
	padding-top: 0 !important;
}

/* Structure */
.middled {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}


/* Navigation */
.nav--sections {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	padding-left: var(--page-margin);
	position: absolute;
	top: var(--page-margin);
}
.nav__bullet {
	padding: var(--page-margin);
	pointer-events: auto;
}
.nav__bullet::after {
	border: 1px solid;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 0.5rem;
	transition: border 0.2s linear, transform 0.1s linear;
	width: 0.5rem;
}
.nav--slides .nav__bullet {
	padding: 0.5rem;
}
.nav--slides .nav__bullet::after {
	height: 1px;
	width: 1px;
}
.nav__bullet.active::after,
.fp-viewing-development-0 .nav--slides :nth-of-type(1)::after,
.fp-viewing-development-1 .nav--slides :nth-of-type(2)::after,
.fp-viewing-development-2 .nav--slides :nth-of-type(3)::after,
.fp-viewing-development-3 .nav--slides :nth-of-type(4)::after,
.fp-viewing-development-4 .nav--slides :nth-of-type(5)::after {
	border-width: 0.25rem;
	transform: scale(1.5);
}

.fp-controlArrow {
	background-color: rgb(var(--attention-color));
	border: none;
	border-radius: 3px 0 0 3px;
	bottom: initial !important;
	box-shadow: 0 0 1rem 0 rgba(0,0,0, 0.1);
	box-sizing: content-box;
	color: rgb(var(--attention-background));
	font-family: 'noto serif jp';
	font-size: 0.7rem;
	height: initial !important;
	left: initial !important;
	letter-spacing: 2px;
	line-height: 1;
	margin: 0 !important;
	padding: 0.5rem;
	padding-right: calc(0.5rem + 1px);
	right: 1rem !important;
	text-align: center;
	text-transform: uppercase;
	top: initial !important;
	width: 3rem !important;
}
.fp-controlArrow:hover {
	color: rgb(var(--attention-color));
}
@media(min-width: 800px) {
	.fp-controlArrow {
		padding: 1rem;
	}
}
.fp-controlArrow.fp-next {
	bottom: calc(50% - 3rem) !important;
}
.fp-controlArrow.fp-next::after {
	content: "next\25B8 ";
}
.fp-controlArrow.fp-prev {
	top: calc(50% - 3rem) !important;
}
.fp-controlArrow.fp-prev::after {
	content: "\25C2 prev";
}
@media(min-width: 800px) {
	.fp-controlArrow.fp-next {
		bottom: calc(50% - 4rem) !important;
	}
	.fp-controlArrow.fp-prev {
		top: calc(50% - 4rem) !important;
	}
}

.nav--slides {
	display: flex;
	justify-content: center;
	line-height: 0;
	position: absolute;
	right: 1rem;
	top: calc(50% - 0.75rem);
	z-index: 10;
}

.fp-viewing-secondPage-0 .nav--slides :nth-of-type(1)::after,
.fp-viewing-secondPage-1 .nav--slides :nth-of-type(2)::after {
	border-width: 0.25rem;
	transform: scale(1.5);
}

/* Each section (page) */
.section {
	background-image: linear-gradient( rgb(var(--top-color)), rgb(var(--bottom-color)) );
	height: 100vh;
	transform: translate3d(0,0,0);
	width: 100vw;
}
.section::before {
	background-image: linear-gradient(to bottom right, transparent 50%, rgb(var(--top-color)) 51%);
	content: "";
	display: block;
	height: 7vh;
	position: absolute;
	top: -7vh;
	width: 100vw;
}
.slide {
	background-image: linear-gradient( rgb(var(--top-color)), rgb(var(--bottom-color)) );
}
.section--horizontal::after {
	background-image:
		radial-gradient(at right, rgba(var(--black), 0.3), rgba(var(--black), 0) 50%);
	content: "";
	display: block;
	height: 100vh;
	position: absolute;
	right: 1rem;
	top: 0;
	width: 6rem;
	z-index: 2;
}
.section__title {
	bottom: 2rem;
	color: rgb(var(--attention-color));
	font-family: 'pirata one';
	font-size: 1.75rem;
	font-weight: normal;
	left: 2rem;
	letter-spacing: 3px;
	line-height: 1.3ex;
	position: absolute;
	text-transform: uppercase;
	z-index: 2;
}
@media(min-width: 800px) {
	.section__title {
		font-size: 3rem;
	}
}